<div class="container-fluid">
  <% if !current_user %>
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-3">
        <h1 class="display-3 mt-3">Hello, world!</h1>
        <h2 class="display-4">Look at the latest events ?</h2>
        <%= link_to "Login to see more", new_user_session_path, class: "btn btn-primary" %>
      </div>
      <div class="col-sm-12 col-md-6">
        <img class="img-fluid" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F99891082%2F174963144412%2F1%2Foriginal.20200430-164830?w=1016&auto=format%2Ccompress&q=75&sharp=10&s=be5cc9aa4646e8daeb55c374bc923a05">
      </div>
    </div>
  <% else %>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <img class="img-fluid" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F99891082%2F174963144412%2F1%2Foriginal.20200430-164830?w=1016&auto=format%2Ccompress&q=75&sharp=10&s=be5cc9aa4646e8daeb55c374bc923a05">
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="m-3">
    <% if current_user %> 
      <%= render 'users/card_template' %>
    <% else %> 
      <%= render 'events/previous' %>
    <% end %>
  </div>
</div>