<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1 class="display-3">Hello, world!</h1>
      <h2 class="display-4">Look at the latest events ?</h2>
      <button type="button" class="btn btn-primary">Go to events</button>
    </div>
    <div class="col-sm-12 col-md-6">
      <img class="img-fluid" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F99891082%2F174963144412%2F1%2Foriginal.20200430-164830?w=1016&auto=format%2Ccompress&q=75&sharp=10&s=be5cc9aa4646e8daeb55c374bc923a05">
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="card border-light mb-3" style="max-width: 20rem;">
  <img src="http://lorempixel.com/400/200/food/<%= rand(1..9) %>"/>
  <div class="card-body">
    <h4 class="card-title">Light card title</h4>
    <h5 class="text-muted">Date of the event</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</div>
<div class="card border-light mb-3" style="max-width: 20rem;">
  <img src="http://lorempixel.com/400/200/food/<%= rand(1..9) %>"/>
  <div class="card-body">
    <h4 class="card-title">Light card title</h4>
    <h5 class="text-muted">Date of the event</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</div>
<div class="card border-light mb-3" style="max-width: 20rem;">
  <img src="http://lorempixel.com/400/200/food/<%= rand(1..9) %>"/>
  <div class="card-body">
    <h4 class="card-title">Light card title</h4>
    <h5 class="text-muted">Date of the event</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</div>
</div>