<div class="container">
  <h1 class="text-center m-3">Thanks for your subscription </h1>
  <h2 class="text-center">You paid <strong><%= @event.price %> € </strong>!</h2>
  <p class="text-center m-3"><%= link_to "Return to this event >", event_path(@event.id) %></p>
</div>

